<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.variable.dicicilaja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:label="Lupa Kata Sandi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.HelpActivity"
            android:label="Bantuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="Daftar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi2Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi3Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.RegisterAxi2Activity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi4Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.RegisterAxi3Activity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi5Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.RegisterAxi4Activity" />
        </activity>
        <activity
            android:name=".Activity.AxiDashboardActivity"
            android:label="@string/title_activity_marketplace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TCDashboardActivity"
            android:label="@string/title_activity_tcdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailPengajuanActivity"
            android:label="Detail Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.TCDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="Akun Saya"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.TCDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.NotificationActivity"
            android:label="Notifikasi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.TCDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.ProsesPengajuanActivity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DetailPengajuanActivity" />
        </activity>
        <activity
            android:name=".Activity.LihatDatabaseEmployeeActivity"
            android:label="Database CRH"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProsesPengajuanActivity" />
        </activity>
        <activity
            android:name=".Activity.ProsesPengajuan2Activity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DetailPengajuanActivity" />
        </activity>
        <activity
            android:name=".Activity.ProsesPengajuan3Activity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DetailPengajuanActivity" />
        </activity>
        <activity android:name=".Activity.ChatActivity"
            android:label="Chat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HelpActivity" /></activity>
    </application>

</manifest>