<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicicilaja.app">
    <!-- <uses-feature android:name="android.hardware.camera.flash" /> -->
    <uses-feature android:name="android.hardware.camera" /> <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".InformAXI.ui.InformSmActivity"></activity>
        <activity android:name=".InformAXI.ui.UbahShActivity" />
        <activity android:name=".Activity.RegisterMaxiDone" />
        <activity android:name=".Activity.RegisterCustomerDone" />
        <activity android:name=".Activity.RegisterAxiDone" />

        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:resource="@drawable/ic_stat_onesignal_default"
            android:value="FFF89E4C" />

        <activity
            android:name=".Inbox.UI.InboxDetailActivity"
            android:label="Inbox Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inbox.UI.InboxActivity"
            android:label="Inbox"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inbox.UI.PopUpActivity"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OrderIn.UI.InformasiJaminan2Activity" />
        <activity android:name=".OrderIn.UI.OrderInProductActivity" />
        <activity android:name=".OrderIn.UI.BantuanOrderIn.TipeAsuransiActivity" />
        <activity android:name=".OrderIn.UI.BantuanOrderIn.JenisAngsuranActivity" />
        <activity android:name=".OrderIn.UI.BantuanOrderIn.BantuanOrderInActivity" />
        <activity android:name=".OrderIn.UI.KonfirmasiPengajuanActivity" />
        <activity
            android:name=".InformAXI.ui.register.DetailRegisterActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.OrderTrackingActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.trip.TripActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.search.SearchActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.register.RegisterActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.profile.ProfileActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.incentive.IncentiveActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.gathering.GatheringActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".InformAXI.ui.InformAxiActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".BusinessReward.ui.Cart.CartActivity"
            android:label="Keranjang"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderIn.UI.KantorCabang.Activity.KantorCabangActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".OrderIn.UI.PengajuanSuksesActivity" />
        <activity android:name=".OrderIn.UI.InformasiJaminanActivity" />
        <activity android:name=".BusinessReward.ui.BusinessReward.activity.AvailableBRActivity" />
        <activity
            android:name=".OrderIn.UI.DataCalonPeminjamActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".OrderIn.UI.OrderInActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".BranchOffice.UI.DetailBranchOffice.DetailBranchOfficeActivity" />
        <activity android:name=".BranchOffice.UI.BranchOffice.Activity.BranchOfficeActivity" />
        <activity android:name=".BranchOffice.UI.AreaBranchOffice.Activity.AreaBranchOfficeActivity" />
        <activity android:name=".BranchOffice.UI.CityBranchOffice.Activity.CityBranchOfficeActivity" />
        <activity android:name=".NewSimulation.UI.BantuanNewSimulation.TipeAsuransiActivity" />
        <activity android:name=".NewSimulation.UI.BantuanNewSimulation.JenisAngsuranActivity" />
        <activity android:name=".NewSimulation.UI.MotorColleteral.MotorColleteralActivity" />
        <activity android:name=".NewSimulation.UI.BantuanNewSimulation.BantuanNewSimulationActivity" />
        <activity android:name=".NewSimulation.UI.NewSimulationResult.NewSimulationResultActivity" />
        <activity android:name=".NewSimulation.UI.NewLoan.NewLoanActivity" />
        <activity android:name=".NewSimulation.UI.NewColleteral.NewColleteralActivity" />
        <activity android:name=".NewSimulation.UI.NewSimulation.NewSimulationActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:label="Lupa Kata Sandi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.HelpActivity"
            android:label="Bantuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="Daftar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi2Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi3Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterAxi2Activity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi4Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterAxi3Activity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi5Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterAxi4Activity" />
        </activity>
        <activity
            android:name=".Activity.AxiDashboardActivity"
            android:label="@string/title_activity_marketplace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EmployeeDashboardActivity"
            android:label="@string/title_activity_tcdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailRequestActivity"
            android:label="Detail Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="Akun Saya"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name=".WebView.AboutAxiActivity"
            android:label="Tentang AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".WebView.AboutMaxiActivity"
            android:label="Tentang MAXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.SimulationActivity"
            android:label="Simulasi Cicilan"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.dicicilaja.app.Activity.MarketplaceActivity" /> -->
        </activity>
        <activity
            android:name=".Activity.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MarketplaceActivity"
            android:label="@string/title_activity_marketplace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SimulasiActivity"
            android:label="Simulasi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.GuestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HelpAboutActivity"
            android:label="Tentang Dicicilaja"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.ProductCategoryActivity"
            android:label="Product"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterMaxi2Activity"
            android:label="Pendaftaran Mitra"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterMaxi3Activity"
            android:label="Pendaftaran Mitra"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterMaxi4Activity"
            android:label="Pendaftaran Mitra"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterMaxi5Activity"
            android:label="Pendaftaran Mitra"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".Activity.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.RutePerjalananActivity"
            android:label="Rute Perjalanan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.ProductActivity" />
        </activity>
        <activity
            android:name=".Activity.SyaratKetentuanActivity"
            android:label="Syarat &amp; Ketentuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.ProductActivity" />
        </activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:label="Semua produk"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.AllPartnerActivity"
            android:label="Semua Produk Partner"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.AllPromoActivity"
            android:label="Semua Promo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.PromoActivity"
            android:label="Info Promo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".WebView.AboutAxiMarketplaceActivity"
            android:label="Ayo jadi AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".WebView.AboutMaxiMarketplaceActivity"
            android:label="Daftar Kemitraan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.ProductPartnerActivity"
            android:label="Produk Partner"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.InsentifCarActivity"
            android:label="Insentif Car"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.BusinessReward.activity.BusinesRewardActivity"
            android:label="Poin Reward"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.PointTripActivity"
            android:label="Poin Trip"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.InsentifMcyActivity"
            android:label="Insentif Motorcycle"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.InfoJaringanActivity"
            android:label="Info Jaringan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.RekanBisnisActivity"
            android:label="Rekan Bisnis"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.MaxiDashboardActivity"
            android:label="@string/title_activity_maxi_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProfileMaxiActivity"
            android:label="Akun Saya"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.UbahMaxiActivity"
            android:label="Ubah Profil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AllPengajuanAxiActivity"
            android:label="Semua Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.UbahPasswordAxiActivity"
            android:label="Ubah Kata Sandi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.UbahAxiActivity"
            android:label="Ubah Profil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity android:name=".Activity.UbahPasswordMaxiActivity" />
        <activity
            android:name=".Activity.AllPengajuanMaxiActivity"
            android:label="Semua Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AllProgramMaxiActivity"
            android:label="Semua Program"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.ProductMaxiActivity"
            android:label="@string/title_activity_product_maxi"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AjukanPengajuanMaxiActivity"
            android:label="Buat Pengajuan"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AjukanPengajuanMaxi2Activity"
            android:label="Buat Pengajuan - Langkah 2"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AjukanPengajuanAxiActivity"
            android:label="Buat Pengajuan"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AjukanPengajuanAxi2Activity"
            android:label="Buat Pengajuan - Langkah 2"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MaxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxiWebViewActivity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxiWebViewSHActivity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.InformAXI.ui.InformAxiActivity" />
        </activity>
        <activity
            android:name=".Activity.AssignSurveyorWebViewActivity"
            android:label="Assign Surveyor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.InformAXI.ui.InformAxiActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterAxi1Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.NasabahActivity"
            android:label="Pendaftaran Nasabah"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.DeskripsiLengkapActivity"
            android:label="Deskripsi Lengkap"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.NotificationActivity"
            android:label="Notifikasi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.ProsesPengajuanActivity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name=".WebView.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebView.SimulationActivity"
            android:label="Simulasi Cicilan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity android:name=".Activity.ConfirmRequestActivity" />
        <activity
            android:name=".Activity.RequestProcessActivity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name=".Activity.DatabaseCRH"
            android:label="Database CRH"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.ProsesPengajuanActivity" />
        </activity>
        <activity
            android:name=".Activity.DatabaseCRO"
            android:label="Database CRO"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.ProsesPengajuanActivity" />
        </activity>
        <activity
            android:name=".Activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Lihat Foto"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name=".Activity.SPGDashboardActivity"
            android:label="@string/title_activity_spgdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AjukanPengajuanActivity"
            android:label="Buat Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.AjukanPengajuan2Activity"
            android:label="Buat Pengajuan - Langkah 2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity android:name=".Activity.SalesUbahActivity" />
        <activity
            android:name=".Activity.StatisticActivity"
            android:label="Statistik"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name=".Activity.UbahPasswordEmployeeActivity"
            android:label="Ubah Kata Sandi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.ProfileCustomerActivity"
            android:label="Akun Saya"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.UbahCustomerActivity"
            android:label="Ubah Profil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.AllProductActivity"
            android:label="Semua Produk"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.AllProductRecommendationActivity"
            android:label="Semua Rekomendasi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.AllProductPromoActivity"
            android:label="Semua Promo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".WebView.ForgotActivity"
            android:label="Lupa Kata Sandi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".WebView.NewsActivity"
            android:label="Berita Terbaru"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".WebView.MateriActivity"
            android:label="Unduh Materi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity
            android:name=".WebView.InfoActivity"
            android:label="Gudang Info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterMaxi1Activity"
            android:label="Pendaftaran Mitra"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".WebView.CekStatusActivity"
            android:label="Cek Status Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.AxiDashboardActivity" />
        </activity>
        <activity android:name=".Activity.ProfileEmployeeActivity" />
        <activity
            android:name=".WebView.AboutDicicilajaActivity"
            android:label="Tentang diciclaja"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.MarketplaceActivity" />
        </activity>
        <activity
            android:name=".Activity.Addon.UpgradeActivity"
            android:label="Update Aplikasi dicicilaja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Addon.CompletePhoneEmailActivity" />
        <activity
            android:name=".BusinessReward.ui.DetailProduct.activity.DetailProductActivity"
            android:label="Detail Produk"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.BusinessReward.activity.BusinesRewardActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.DetailProduct.activity.DetailProduct2Activity"
            android:label="Detail Keranjang"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.DetailProduct.activity.DetailProductActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.RedeemConfirm.RedeemConfirmationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessReward.ui.RedeemConfirm.RedeemConfirmation2Activity"
            android:label="Detail Penukaran"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.BusinessReward.ui.RedeemConfirm.RedeemConfirmationActivity" />
        </activity>
        <activity
            android:name=".Activity.TrackingOrderActivity"
            android:label="Detail Penukaran"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.BusinessReward.ui.RedeemConfirm.RedeemConfirmationActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.BusinessReward.activity.CatalogResultActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.BusinessReward.activity.BusinesRewardActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.Search.activity.SearchResultActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.BusinessReward.activity.BusinesRewardActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.Transaction.activity.ReviewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.BusinessReward.ui.RedeemConfirm.RedeemConfirmation2Activity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.Transaction.activity.TransactionActivity"
            android:label="Transaksi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.app.Activity.TrackingOrderActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.KtpNpwp.activity.UploadKTPActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.BusinessReward.activity.BusinesRewardActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.Transaction.activity.DetailTransactionActivity"
            android:label="Transaksi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.Transaction.activity.TransactionActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.DetailProduct.activity.PilihCabangVendorActivity"
            android:label="Tujuan Pengiriman"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.DetailProduct.activity.DetailProduct2Activity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.BusinessReward.activity.ListKategori"
            android:label="Pilih Kategori"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.BusinessReward.activity.CatalogResultActivity" />
        </activity>
        <activity
            android:name=".BusinessReward.ui.BusinessReward.activity.ListUrutkan"
            android:label="Pilih Kategori"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusinessReward.ui.BusinessReward.activity.CatalogResultActivity" />
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Inbox.Service.NotificationExtender"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>