<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicicilaja.dicicilaja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dicicilaja.dicicilaja.Activity.LoginActivity" />
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.ForgotPasswordActivity"
            android:label="Lupa Kata Sandi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.HelpActivity"
            android:label="Bantuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.RegisterActivity"
            android:label="Daftar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.RegisterAxi2Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.RegisterAxi3Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.RegisterAxi2Activity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.RegisterAxi4Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.RegisterAxi3Activity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.RegisterAxi5Activity"
            android:label="Pendaftaran AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.RegisterAxi4Activity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.AxiDashboardActivity"
            android:label="@string/title_activity_marketplace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity"
            android:label="@string/title_activity_tcdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.DetailRequestActivity"
            android:label="Detail Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.ProfileActivity"
            android:label="Akun Saya"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.NotificationActivity"
            android:label="Notifikasi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.ProsesPengajuanActivity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.ProsesPengajuan2Activity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.ProsesPengajuan3Activity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.WebView.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dicicilaja.dicicilaja.WebView.AboutAxiActivity"
            android:label="Tentang AXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.WebView.AboutMaxiActivity"
            android:label="Tentang MAXI"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.RegisterActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.WebView.CreateRequestActivity"
            android:label="Buat Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.WebView.SimulationActivity"
            android:label="Simulasi Cicilan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.WebView.CekStatusActivity"
            android:label="Cek Status"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity android:name="com.dicicilaja.dicicilaja.Activity.ConfirmRequestActivity" />
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.RequestProcessActivity"
            android:label="Proses Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.DetailRequestActivity" />
        </activity>

        <service android:name="com.dicicilaja.dicicilaja.Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.dicicilaja.dicicilaja.Notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />

        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.DatabaseCRH"
            android:label="Database CRH"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.ProsesPengajuanActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.DatabaseCRO"
            android:label="Database CRO"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.ProsesPengajuanActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Lihat Foto"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.DetailRequestActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.SPGDashboardActivity"
            android:label="@string/title_activity_spgdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.AjukanPengajuanActivity"
            android:label="Buat Pengajuan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity
            android:name="com.dicicilaja.dicicilaja.Activity.AjukanPengajuan2Activity"
            android:label="Buat Pengajuan - Langkah 2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" />
        </activity>
        <activity android:name="com.dicicilaja.dicicilaja.Activity.SalesUbahActivity" />
        <activity android:name="com.dicicilaja.dicicilaja.Activity.StatisticActivity"
            android:label="Statistik"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dicicilaja.dicicilaja.Activity.EmployeeDashboardActivity" /></activity>
    </application>

</manifest>